body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}



h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(16, 163, 158);
    position: relative;
}

canvas {
    border: 2px solid #17092b;
    margin: 20px 0;
}

button {
    background-color: #4CAF50;
    color: #e80b0b;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: cursive;
    transition: transform 0.3s ease-in-out
}

button:hover {
    background-color: #cf1812;
    color: rgb(10, 202, 39);
    transform: scale(1.2);
}

hr {
    border: 1px solid #fff;
    margin: 20px 0;
}

div {
    margin-bottom: 15px;
}
