body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Press Start 2P', cursive;
}


#algorithmInfo{
  background:transparent;
  width: 100%;
  text-align: center;
  padding: 10px 20px;
  color: #0a28ea;
  font-family: cursive;
  font-size: larger;
}
#algorithmInfo:hover{
  transform: scale(1.6);
  width: 60%;
  border: 2px solid #02449b;
}


.wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #24C6DC; 
    background: -webkit-linear-gradient(to bottom, #514A9D, #24C6DC);  
    background: linear-gradient(to bottom, #514A9D, #24C6DC); 
    z-index: 0;
  }
  
  .box div {
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 6px solid rgba(255,255,255,0.8);
  }
  
  .box div:nth-child(1) {
    top: 12%;
    left: 42%;
    animation: animate 10s linear infinite;
  }
  
  .box div:nth-child(2) {
    top: 70%;
    left: 50%;
    animation: animate 7s linear infinite;
  }
  .box div:nth-child(3) {
    top: 17%;
    left: 6%;
    animation: animate 9s linear infinite;
  }
  
  .box div:nth-child(4) {
    top: 20%;
    left: 60%;
    animation: animate 10s linear infinite;
  }
  
  .box div:nth-child(5) {
    top: 67%;
    left: 10%;
    animation: animate 6s linear infinite;
  }
  
  .box div:nth-child(6) {
    top: 80%;
    left: 70%;
    animation: animate 12s linear infinite;
  }
  
  .box div:nth-child(7) {
    top: 60%;
    left: 80%;
    animation: animate 15s linear infinite;
  }
  
  .box div:nth-child(8) {
    top: 32%;
    left: 25%;
    animation: animate 16s linear infinite;
  }
  
  .box div:nth-child(9) {
    top: 90%;
    left: 25%;
    animation: animate 9s linear infinite;
  }
  
  .box div:nth-child(10) {
    top: 20%;
    left: 80%;
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      transform: scale(0) translateY(-90px) rotate(360deg);
      opacity: 1;
    }
    
    100% {
      transform: scale(1.3) translateY(-90px) rotate(-180deg);
      border-radius: 50%;
      opacity: 0;
    }
  }

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgb(16, 163, 158);
    position: relative;
    z-index: 1;
}

canvas {
    border: 2px solid #02449b;
    margin: 20px 0;
    z-index: 1;
}

button {
    background-color: #0a81cb;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    font-family: cursive;
    transition: transform 0.3s ease-in-out;
    z-index: 1;
}

button:hover {
    background-color: #12cf74;
    color: rgb(10, 167, 202);
    transform: scale(1.2);
}

div {
  margin-top: 10px;
    margin-bottom: 15px;
    z-index: 1;
}
